<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testevocacional">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TesteVocacional">
        <activity
            android:name=".view.editarPerfil"
            android:exported="false" />
        <activity
            android:name=".view.Home"
            android:exported="false" />
        <activity
            android:name=".view.Cadastro"
            android:exported="false" />
        <activity
            android:name=".view.Quiz1"
            android:exported="false" />
        <activity
            android:name=".view.Quiz2"
            android:exported="false" />
        <activity
            android:name=".view.Quiz3"
            android:exported="false" />
        <activity
            android:name=".view.Quiz4"
            android:exported="false" />
        <activity
            android:name=".view.Quiz5"
            android:exported="false" />
        <activity
            android:name=".view.Quiz6"
            android:exported="false" />
        <activity
            android:name=".view.Quiz7"
            android:exported="false" />
        <activity
            android:name=".view.Quiz8"
            android:exported="false" />
        <activity
            android:name=".view.Resultado"
            android:exported="false" />
        <activity
            android:name=".view.ResultadoBottom"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>